<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Hello <%= @user.email %></h1>
        <p>
        You have requested to reset your password. Your temporary password is: <strong><%= @temp_password %></strong>
        </p>
        <p>
        Please login with this temporary password and change it immediately.
        </p>
        <p>
        If you didn't request this, please ignore this email.
        </p>
    </body>
</html>